BI.SGP2.1/BI.SGP.BLL/Service References/AccessServiceReference/Access1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Access" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://mcnnt800.asia.ad.flextronics.com/Access_Wcf/Access.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://mcnnt800.asia.ad.flextronics.com/Access_Wcf/Access.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://mcnnt800.asia.ad.flextronics.com/Access_Wcf/Access.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BI.Access.Wcf" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAccess_GetCurrentUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUser" />
  </wsdl:message>
  <wsdl:message name="IAccess_GetCurrentUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAccess_LogAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:LogAdd" />
  </wsdl:message>
  <wsdl:message name="IAccess_LogAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogAddResponse" />
  </wsdl:message>
  <wsdl:portType name="IAccess">
    <wsdl:operation name="GetCurrentUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccess/GetCurrentUser" message="tns:IAccess_GetCurrentUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccess/GetCurrentUserResponse" message="tns:IAccess_GetCurrentUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IAccess/LogAdd" message="tns:IAccess_LogAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAccess/LogAddResponse" message="tns:IAccess_LogAdd_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccess" type="tns:IAccess">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCurrentUser">
      <soap:operation soapAction="http://tempuri.org/IAccess/GetCurrentUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogAdd">
      <soap:operation soapAction="http://tempuri.org/IAccess/LogAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Access">
    <wsdl:port name="BasicHttpBinding_IAccess" binding="tns:BasicHttpBinding_IAccess">
      <soap:address location="http://mcnnt800.asia.ad.flextronics.com/Access_Wcf/Access.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>